.weekday {
	display: inline-block;
	border: solid;
	border-radius: 10px;
	border-color: #FFFFFF;
	background-color: #CCFFCC;
	cursor: pointer;
}
.weekend {
	display: inline-block;
	border: solid;
	border-radius: 10px;
	border-color: #FFFFFF;
	background-color: #6699FF;
	cursor: pointer;
}

.not_cur_month {
	display: inline-block;
	border: solid;
	border-radius: 10px;
	border-color: #FFFFFF;
	background-color: #C2C2A3;
}

.inline {
    display: inline;
    margin-right: 2px;
}

.center-row {
	margin: auto;
	width: 100%;
}
.glyphicon {
    font-size: 10px;
}