<!DOCTYPE html>
{% load staticfiles %}
<html lang='ru'>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="{% static "functions.js" %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
</head>
<body>
	{% block calendarapp %}{% endblock %}
			<div class='collapse'>
			<div class="panel panel-default col-md-7">
				<div class="panel-header">
					<h3>Список событий</h3>
				</div>
	  			<form role='form'>
	  			{% csrf_token %}
  				</form>
  				<div class="panel-footer">
  					<div class='btn-group btn-group-justified'>
  						<div class='btn-group'>
  							<button type='button' class="btn btn-primary btn-lg" id="cancel">Отмена</button>
  						</div>
  						<div class='btn-group'>
  							<button type='button' class="btn btn-primary btn-lg" id="addevent" onclick="addEvent()">Добавить событие</button>
  						</div>
  						<div class='btn-group'>
  							<button type='button' class="btn btn-primary btn-lg" id="save">Сохранить</button>
  						</div>
  					</div>
  				</div>
	  		</div>
		</div>
</body>
</html>